* {
    margin: 8px;
    padding: 3px;
    font-family: sans-serif;   
}

body {
    background-image: inherit;
    margin: 0px;
    padding: 0px;
   background-color: royalblue;   
}
.main ul li {
    margin-top: auto;
    display: inline-block;
    margin-left: 2px;
    font-size: 30px;
    text-align: center;
    color: blue;    
}
.main{
    display: flex;
    font-size: large;
    content: normal;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.main ul li a {

    display: flex;
    text-decoration: none;
    margin-left: 100px;    
}
.navigation {
    font-style: oblique;
    flex-direction: column-reverse;
    padding-bottom: 70px;
    float: left;
}
.content{
    font-size: 25px;
}
h2{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
p{
    color: yellow;
    font-size: 20px;
    font-style: oblique;   
}
img{
    border-radius: 130px;
     size: 30px;    
}
.hello{
    display: flex;
    float: right;
    font-size: 20px;
} 
.menu{
    display: flex;
}

